.NavbarItems {
    height: 60px;
    border-bottom: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.navbar-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}

.nav-menu {
    display: flex;
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 100vw;
    justify-content: flex-end;
    margin-right: 2rem;
}

.nav-links {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links:hover {
    color: #d43b81;
    text-decoration: underline;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.downArrow{
    margin-left: 5px;
}

.faBars {
    color: #fff;
}

.faTimes {
    color: #fff;
}

.menu-icon {
    display: none;
}

@media screen and (max-width:720px) {
    .nav-menu {
        display: none;
    }

    .navbar-logo {
        position: absolute;
        left: 0;
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 30%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .faTimes {
        color: #fff;
    }
}
