.row-post-heading {
    font-size: 20px;
    color: #fff;
    margin-left: 2.5%;
    text-transform: capitalize;
    margin-top: 20px;
}

.row-post{
    display: flex;
    overflow-x: scroll;
    width: 95%;
    margin-top: 1%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-bottom: 2%;
    color: #fff;
}

.card-wrapper{
    display: flex;
    
}

.row-post::-webkit-scrollbar{
    display: none;
}

.card{
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    width: 250px;
    height: 300px;
    margin-right: 25px;
}

.front, .back{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    transition: transform .5s linear;
}

.front img{
    width: 250px;
    height: 300px;
    border-radius: 5px;
}

.front{
    transform: rotateY(0deg);
}

.back{
    background: #242424;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transform: rotateY(180deg);
}

.back-content{
    color: #fff;
    text-align: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    opacity: 1;
}

.back-content_heading{
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 20px;
}

.back-content_overview{
    font-size: 14px;
    color: #fff;
}

.card:hover > .front{
    transform: rotateY(-180deg);
}

.card:hover > .back{
    transform: rotateY(0deg);
}

@media screen and (max-width:720px){
    .row-post-heading{
        font-size: 16px;
    }
    .card{
        width: 150px;
        height: 200px;
    }
    .front img{
        width: 150px;
        height: 200px;
        border-radius: 5px;
    }
    .back-content{
        width: 100%;
        height: 180px;
        overflow: hidden;
        opacity: 1;
    }
    .back-content_heading{
        font-size: 14px;
        margin-bottom: 5px;
        margin-top: 20px;
    }
    
    .back-content_overview{
        font-size: 12px;
        color: #fff;
    }
}