.search-container{
    display: flex;
    align-items: center;
    width: 100%;
}
.search-field{
    width: 25%;
    height: 40px;
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 2.5%;
    border: 1px solid rgb(205, 205, 205);
    border-radius: 20px;
}
.input{
    margin-left: 2.5%;
    width: 86%;
    background:transparent;
    outline: none;
    border: none;
    color: #fff;
}
.search-icon{
    cursor: pointer;
    color: rgb(205, 205, 205);
}
@media screen and (max-width:1200px) {
    .search-field{
        width: 35%;
    }
}

@media screen and (max-width:800px) {
    .search-field{
        width: 40%;
    }
}

@media screen and (max-width:600px) {
    .search-field{
        width: 100%;
        margin-right: 2.5%;
    }
    .input{
        width: 90%;
    }
}